{% extends 'base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <h3>¿Desea eliminar el registro de:  {{ paciente.nombres}} {{ paciente.apellido_paterno}} {{ paciente.apellido_materno}}</h3>
    <button class="btn btn-danger"  type="submit">Sí Eliminar</button>
    <a class="btn btn-default" href="../paciente">Cancelar</a>


</form>

{% endblock content %}