{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

     <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
$(document).ready(function() {
//$(".alert").hide();
fec1=$("#id_fecha_nacimiento").val();
$("#malertf").show();$("#malertf").delay(3200).fadeOut(10);
 $("#edad").val(calculaedad1(fec1));
$("#id_fecha_nacimiento").datepicker({format: 'dd/mm/yyyy (D)',language: 'es'}).on("change", function(e) {
fec1=$("#id_fecha_nacimiento").val();
 $("#edad").val(calculaedad1(fec1));
});

$("#id_fecha_nacimiento").blur(function() {
fec1=$("#id_fecha_nacimiento").val();
 $("#edad").val(calculaedad1(fec1));
 });

	});
</script>


<br>
  <div class="p-3 container border rounded bg-white shadow-sm" style="box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);">
 <div class="p-3"> <h6><font class="text-info">INGRESA Y/O EDITA INFORMACION DE PACIENTE</font></h6></div>
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger" role="alert" id="malertf">
<strong>Error!</strong>
          {{ error }}
</div>
      {% endfor %}
    {% endif %}



        <form method="post">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-3 mb-0">
        {{ form.tipo_documento|as_crispy_field }}
      </div>
      <div class="form-group col-md-3 mb-0">
        {{ form.numero_documento|as_crispy_field }}
      </div>
         <div class="form-group col-md-3 mb-0">
        {{ form.nombres|as_crispy_field }}
       </div>
        <div class="form-group col-md-3 mb-3">
        {{ form.apellido_paterno|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3 mb-0">
        {{ form.apellido_materno|as_crispy_field }}
      </div>
      <div class="form-group col-md-3 mb-0">
        {{ form.fecha_nacimiento|as_crispy_field }}
      </div>
      <div class="form-group col-md-3 mb-3">
        {{ form.edad|as_crispy_field }}
      </div>
    </div>
   <button type="submit"  class="btn btn-info" onclick="" id="guardar" value="GUARDAR"><span class="fas fa-save"></span> GUARDAR</button>
            {% if enc1 > 0 %}
            <div id="msg1" style="display:none;visibility:hidden;">{{enc1}}</div>
            {% endif %}
  </form>



       <div><br><br></div>
    <div class="row container ">
        <div class="col-sm ">

   </div>
    </div>

<div><br></div>
     <div class="row container ">

     <div class="col-sm " id="mostrarb">
     <input type="hidden"  id="med">

     </div>

    </div>


  </form>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
        <input type="hidden" class="form-control" id="idpersona" placeholder="">
      </div>
    </div>
  </div>
</div>


{% endblock %}

