{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


 <div class="p-1 container border rounded bg-white shadow-sm" style="box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);">
 <div class="p-3"> <h6><font class="text-info">BUSCAR PACIENTE</font></h6></div>

<form class="form" method="POST" id="id_form">{% csrf_token %}

      <div class="alert alert-danger" role="alert" id="malertv">
<strong>Error!</strong> No se encontraron resultados
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    <br>
    <form method="post" action="" class="form">
{% csrf_token %}
        <div class="container">
      <div class="row">
        <div class="col-sm">
             {{ form.tipo_documento|as_crispy_field}}
        </div>
        <div class="col-sm">
            {{ form.numero_documento|as_crispy_field}
        </div>
        <div class="col-sm">
            <label class="control-label small" ><i class="fas fa-briefcase"></i><strong>&nbsp;</strong></label>
            <div></div>
            <button type="submit"  class="btn btn-info" onclick="" id="guardar" value="GUARDAR"><span class="fas fa-save"></span> BUSCAR</button>
               <a class="btn btn-info" href="ingresar_paciente">CREAR PACIENTE</a>
        </div>
      </div>
        </div>
    </form>

<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Tipo de documento</th>
      <th scope="col">Numero de documento</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Edad</th>
      <th scope="col">Nombres y Apellidos</th>
      <th scope="col">Gestionar Paciente</th>
    </tr>
  </thead>
        {% if encontro < 1 %}
                    <div id="msg1" style="display:none;visibility:hidden;">{{encontro}}</div>
        {% endif %}
        {% if paciente.id %}
    <tr>

                   <td> <span class="menu-title">{{ paciente.get_tipo_documento_display }}</span></td>
                   <td> <span class="menu-title">{{ paciente.numero_documento }}</span></td>
                   <td> <span class="menu-title">{{ paciente.fecha_nacimiento }}</span></td>
                   <td> <span class="menu-title">{{ paciente.edad }}</span></td>
                   <td> <span class="menu-title">{{ paciente.nombre_completo }}</span></td>
        <td>
                 <a class="btn btn-default" href="editar_paciente/{{ paciente.id }}"><span class="glyphicon glyphicon-pencil">Editar</span></a>
                 <a class="btn btn-default" href="eliminar_paciente/{{ paciente.id }}"><span class="glyphicon glyphicon-trash">Eliminar</span></a>
                </td>

    </tr>
        {% endif %}
            	<tbody>
                   {% for value in object_list %}
            <tr>
                <td> <span class="menu-title">{{ value.get_tipo_documento_display }}</span></td>
                <td> <span class="menu-title">{{ value.numero_documento }}</span></td>
                <td> <span class="menu-title">{{ value.fecha_nacimiento }}</span></td>
                <td> <span class="menu-title">{{ value.edad }}</span></td>
                <td> <span class="menu-title">{{ value.nombre_completo }}</span></td>
                <td>
                 <a class="btn btn-default" href="editar_paciente/{{ value.id }}"><span class="glyphicon glyphicon-pencil">Editar</span></a>
                 <a class="btn btn-default" href="eliminar_paciente/{{ value.id }}"><span class="glyphicon glyphicon-trash">Eliminar</span></a>
                </td>
            </tr>
             {% endfor %}
            </tbody>

</table>

<script>

$(document).ready(function() {
$(".alert").hide();
if($("#msg1").html()==0){$("#malertv").show();$("#malertv").delay(3200).fadeOut(10);}

	});


</script>


{% endblock %}
